<!DOCTYPE html>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{{ page.title }}</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="/css/default.css" />

<body class="two-column right-sidebar banner">
<div id="page" class="hfeed">

<header id="branding" role="banner">

  <hgroup>
    <h1 id="site-title"><span><a href="/" title="Jan Sebastian Siwy" rel="home">Jan Sebastian Siwy</a></span></h1>
  </hgroup>

  <a href="/"><img src="/header.jpeg" width="1000" height="352" alt="Sonnenuntergang in San Pepelone" /></a>

  <nav id="access" role="navigation">
    <h3 class="assistive-text">Main menu</h3>
    <div class="skip-link"><a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a></div>
    <div class="skip-link"><a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a></div>
    <div class="menu">
      <ul>
        <li{% if page.nav == 'home' %} class="current_page_item"{% endif %}><a href="/" title="Home">Home</a>
        <li{% if page.nav == 'projekte' %} class="current_page_item"{% endif %}><a href="/projekte/">Projekte</a>
        <li{% if page.nav == 'studium' %} class="current_page_item"{% endif %}><a href="/studium/">Studium</a>
        <li{% if page.nav == 'impressum' %} class="current_page_item"{% endif %}><a href="/impressum/">Impressum</a>
      </ul>
    </div>
  </nav>

</header>

<div id="main">

  <div id="primary">
    <div id="content" role="main">

      {{ content }}

    </div>
  </div>

  <div id="secondary" class="widget-area" role="complementary">

    <aside class="widget widget_links">
      <h3 class="widget-title">GitHub</h3>
      <ul class="xoxo blogroll">
        <li><a href="https://github.com/jansiwy" rel="me">https://github.com/jansiwy</a>
      </ul>
    </aside>

    <aside class="widget widget_links">
      <h3 class="widget-title">Twitter</h3>
      <ul class="xoxo blogroll">
        <li><a href="https://twitter.com/jansiwy" rel="me">@jansiwy</a>
      </ul>
    </aside>

    <aside class="widget widget_links">
      <h3 class="widget-title">Soziale Netzwerke</h3>
      <ul class="xoxo blogroll">
        <li><a href="http://www.facebook.com/jansiwy" rel="me">Facebook</a>
        <li><a href="https://plus.google.com/105080151130594166309/about" rel="me">Google+</a>
      </ul>
    </aside>

    <aside class="widget widget_links">
      <h3 class="widget-title">Freunde</h3>
      <ul class="xoxo blogroll">
        <li><a href="http://spickermann.net/" rel="friend met colleague">Martin Spickermann</a>
        <li><a href="http://pixelsvsbytes.com/blog/" rel="friend met">Torben Schulz</a>
        <li><a href="http://www.ritmosalsero.de/" rel="friend met">Truels Dentler</a>
      </ul>
    </aside>

    <aside class="widget widget_links">
      <h3 class="widget-title">Nützliches</h3>
      <ul class="xoxo blogroll">
        <li><a href="http://nvie.com/posts/a-successful-git-branching-model/">Git branching model</a>
        <li><a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>
        <li><a href="http://caniuse.com/">When can I use…</a>
      </ul>
    </aside>

    <aside class="widget widget_links">
      <h3 class="widget-title">Sonstiges</h3>
      <ul class="xoxo blogroll">
        <li><a href="http://buyersguide.macrumors.com/">Apple Buyer's Guide</a>
      </ul>
    </aside>

  </div>

</div>

<footer id="colophon" role="contentinfo">
  <div id="site-generator">
  </div>
</footer>

</div>
